# Node Modules
node_modules/

# Build Output
dist/
packages/*/dist/
packages/*/.next/
packages/*/.cache/
packages/*/coverage/

# Environment Variables
.env
*.env.local
*.env.development
*.env.test
*.env.production

# OS Files
.DS_Store
Thumbs.db

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# TypeScript
*.tsbuildinfo

# IDE Files
.vscode/
.idea/
*.iml

# Miscellaneous
*.bak
*.swp
*.tmp
*.lock